body {
  --primary-color: #cffafb;
  --secondary-color: #091d55;
}
* {
  font-family: Helvetica, Courier, monospace;
}
video {
  height: 100vh;
  width: 100vw;
}

.cover {
  position: relative;
  height: 100%;
  width: 100%;
}

.call-to-action {
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding: 10px 25px;
  min-width: 250px;
  font-size: 40px;
  font-weight: bolder;
  transform: translate(-50%, 0);
}

.download {
  background: rgba(146, 101, 81, 0.5);
  border: 3px solid #f9d94b;
  color: #f9d94b;
}

.spin {
  background: rgba(9, 29, 85, 0.5);
  border: 3px solid var(--primary-color);
  color: var(--primary-color);
}
/* 
.spin {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 35px;
  background: red;
  color: white;
}

.download {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
  height: 35px;
  background: blue;
  color: white;
} */

.hide {
  display: none;
}

.counter {
  font-size: 40px;
  color: red;
  position: absolute;
  top: 10px;
  right: 20px;
}

.counter__circle {
  stroke-dasharray: 10 20;
}

/** reset css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
